<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="login-logo">
        <img src="https://smsgateway.mspace.co.ke/files/config/20200630123710-MspaceLogo2017.png" alt="">
    </div>
<div class="login-Container">
    <div class="login-container-header">
        <h4>Enter login credentials</h4>
    </div>

    <div class="mycontainer">
        <div class="bootstrap-login-form">
            <form>
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="email_address">Email address</label>
                  <input type="email" id="email_address" name="email_address" class="form-control" />
               
                </div>
              
                <!-- Password input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="password">Password</label>
                  <input type="password" id="password" name="password" class="form-control" />
                  
                </div>
              
                <!-- 2 column grid layout for inline styling -->
                <div class="row mb-4">
                 
              
                  <div class="col d-flex justify-content-center">
                    <!-- Simple link -->
                    <a href="#!">Forgot password?</a>
                  </div>
                </div>
              
                <!-- Submit button -->
                <div class="col d-flex justify-content-center">
                    <!-- Simple link -->
                    <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
                  </div>
                </div>

    </div>
    
            
          
            
          </form>

    </div>
</div>
  <div class="login-footer">
    <a href="http://www.mspace.co.ke/">© 2023 MSpace Solutions Ltd.</a>
  </div>
</body>
</html>