<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/resources/style.css">
</head>
<body>
    <div class="login-logo">
        <img src="https://smsgateway.mspace.co.ke/files/config/20200630123710-MspaceLogo2017.png" alt="">
    </div>
<div class="login-Container">
    <div class="login-container-header">
        <h4>Enter login credentials</h4>
    </div>
    <div th:if="${param.logout}">

        You have been logged out.</div>

    <div th:if="${param.error}">
        Invalid username or passwords
        <p th:text="${param.error}">Test</p>
    </div>

    <div class="mycontainer">
        <div class="bootstrap-login-form">
                <form method="post" th:action="@{login}">
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="email_address">Email address</label>
                      <input type="text" id="email_address" name="username" class="form-control" />

                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="password">Password</label>
                      <input type="password" id="password" name="password" class="form-control" />

                    </div>

                    <div class="row mb-4">


                      <div class="col d-flex justify-content-center">
                        <!-- Simple link -->
                        <a href="#!">Forgot password?</a>
                      </div>
                    </div>

                    <!-- Submit button -->
                    <div class="col d-flex justify-content-center">
                        <!-- Simple link -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
                      </div>
                </form>






        </div>
</div>
</div>
  <div class="login-footer">
    <a href="http://www.mspace.co.ke/">© 2023 MSpace Solutions Ltd.</a>
  </div>
</body>
</html>