<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="login-Container">

    <div class="login-container-header">
        <h4>Enter login credentials</h4>
    </div>
    <div class="login-form">
        <form action="post">
            <!-- <label for="email_adress">Email Address</label> -->
            <input id="" type="text" name="email_adress">
           <br/>
            <!-- <label for="password">Password</label> -->
            <input id="password" type="text" name="password" style="margin-top: 10px;">
        </form>
    </div>
    <div class="login-button">
<button>Login</button>
    </div>
    <div class="forgot-password-link"><a href="http://">Forgot Password</a></div>
</div>
  
</body>
</html>